// Variables

// Colors
$green: #299E00;
$green-light: #6AF531;
$green-dark: #00A333;
$red: #BB0606;
$red-light: #EB5631;
$red-dark: #901700;

// Fonts
$font-sans: 'Open Sans', sans-serif;

// Typography 

// Spacing 

// Forms 

// Buttons 
